:global .global {
  border: 1px solid red;
  color: white;
  background-color: blue;
}

html,
body {
  padding: 0px;
  margin: 0px;
}

.ttt1 {
  height: 5000px;
}
.ttt2 {
}
.ttt3 {
}
.ttt4 {
}
.ttt5 {
}
.ttt6 {
}
.ttt7 {
}
